#app-wrapper-content {
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;

    #app {
      height: 100%;
      width: 100%;
    }

    .app-content-wrapper {
      height: 100%;
      justify-content: space-between;
      flex-direction: column;
      display: flex;
      width: 100%;
    }  
}
